<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CareShare</title>
    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="vendors/angular-route.min.js" charset="utf-8"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="http://mbostock.github.com/d3/d3.js" charset="utf-8"></script>
    <script src="scripts/client.js" charset="utf-8"></script>
    <link rel="stylesheet" href="vendors/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Sofadi+One" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css">
    <base href="/">
  </head>
  <body ng-app="careApp">
    <h1>Welcome to CareShare!</h1>

    <!-- Consider this the main view -->
    <h2>Login Page</h2>
    <!-- Shown for users that are NOT logged in -->
    <section ng-hide="auth.loggedIn">
      <!-- I got this button image from Googles sign-in button brand guidelines page -->
      <img class="googleLogin" src="assets/btn_google_signin_dark_normal_web.png" />
    </section>
    <!-- Shown for users that are logged in -->
    <section ng-show="auth.loggedIn">
      <p>
        You are logged in!
      </p>
    </section>
    <span><span></span></span>
    <div class="wrap">
      <a href="#login"><div></div></a>
      <a href="#home"><div></div></a>
      <a href="#careprofile"><div></div></a>
      <a href="#careshare"><div></div></a>
      <a href="#sharenetwork"><div></div></a>
    </div>
  </body>
  <ng-view></ng-view>
</html>
