<!-- Bring in the Angular app -->
  <main class="container" ng-app="careApp">
    <!-- NavController is on every page -->
    <header ng-controller="HomeController as hc">
      <h1>Home page?</h1>
      <nav>
        <ul class="row">
          <li class="two columns"><a href="#home">Home</a></li>
          <li class="two columns"><a href="#calendar">Calendar</a></li>
          <li class="six columns" ng-show="hc.displayLogout">Hi {{hc.username}}! | <a href="#" ng-click="hc.logout()">Logout</a></li>
        </ul>
      </nav>
      <!-- Show a helpful message when needed -->
      <section id="message" class="hc.message.type" ng-show="hc.message.text">
        {{hc.message.text}}
      </section>
    </header>
